.github-profile {
  margin: 1rem;
}

.github-profile img {
  width: 75px; 
}

.github-profile img .info {
  display:inline-block;
  margin-left:12px;
}

.github-profile img .info .name {
    font-size:1.25rem;
    font-weight:bold;
}